{% extends "template.html" %}
{% block content %}

        <!-- Product Catagories Area Start -->

        <div class="products-catagories-area clearfix">
            <center><img width=100% src="{{ url_for('static', filename='img/bg-img/abc.png') }}" alt=""></center>


            <div class="single-product-area section-padding-100 clearfix">
            <div class="container-fluid">

                <div class="row">
                    <div class="col-13 col-lg-5">
                        <div class="single_product_thumb">
                            <div id="product_details_slider" class="carousel slide" data-ride="carousel">
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <a class="gallery_img" href="img/product-img/pro-big-1.jpg">
                                            <img class="d-block w-100" src="{{url_for('static', filename='img/core-img/punjabinfotech1.jpg')}}" alt="First slide">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-12 col-lg-7">
                        <div class="single_product_desc">
                            <!-- Product Meta Data -->
                            <div class="product-meta-data">
                                <div class="line"></div>
                                <p class="product-price">Core Group: Startup Punjab</p>
                                <a href="product-details.html">
                                    <h6>1st meeting at Punjab Infotech, 13th Mar 2019</h6>
                                </a>
                                </div>
                            <div class="short_overview my-5">
                                <!-- <p>Punjab Infotech was incorporated in the year 1976 for the promotion and growth of IT and Electronics Industry in the state of Punjab. It undertakes its activities under the following broad areas:-</p> -->
                                <ul>
                                    <li><b>Projects</b> - Setting up of Industrial estates including IT Parks and SEZ units.</li>
                                    <li><b>People</b> - Human Resource Development and Cal-C activities</li>
                                    <li><b>Promotion</b> - Promoting State as a preferred Investment Destination</li>
                                </ul>

                            </div>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-12 col-lg-7">
                        <div class="single_product_desc">
                            <!-- Product Meta Data -->
                            <div class="product-meta-data">
                                <div class="line"></div>
                                <p class="product-price">TiECon Chandigarh 2019</p>
                                <a href="product-details.html">
                                    <h6>ISB, Mohali Campus,In partnership with the Govt of Punjab</h6>
                                </a>
                                </div>
                            <div class="short_overview my-5">
                                <p>In partnership with the Govt of Punjab, which was also the Platinum Sponsor for the event, TiE Chandigarh organised the 4th edition of its flagship event TiECon Chandigarh 2019 on Saturday, 16th February 2019 at Indian School of Business, Mohali with three major challenges – “Start, grow and scale” – as a central theme.



</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-5">
                        <div class="single_product_thumb">
                            <div id="product_details_slider" class="carousel slide" data-ride="carousel">
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <a class="gallery_img" href="img/product-img/pro-big-1.jpg">
                                            <img class="d-block w-100" src="{{url_for('static', filename='img/core-img/tiecon.jpg')}}" alt="First slide">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>

        <!-- Product Catagories Area End -->

{% endblock content %}
