{% extends "template.html" %}
{% block content %}

        <!-- Product Catagories Area Start -->

        <div class="products-catagories-area clearfix">
            <center><img width=100% src="{{ url_for('static', filename='img/bg-img/abc.png') }}" alt=""></center>


            <div class="single-product-area section-padding-100 clearfix">
            <div class="container-fluid">

                <div class="row">
                    <div class="col-12 col-lg-5">
                        <div class="single_product_thumb">
                            <div id="product_details_slider" class="carousel slide" data-ride="carousel">
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <a class="gallery_img" href="img/product-img/pro-big-1.jpg">
                                            <img class="d-block w-100" src="{{url_for('static', filename='img/product-img/pro-big-1.jpg')}}" alt="First slide">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-12 col-lg-7">
                        <div class="single_product_desc">
                            <!-- Product Meta Data -->
                            <div class="product-meta-data">
                                <div class="line"></div>
                                <p class="product-price">Title</p>
                                <a href="product-details.html">
                                    <h6>Heading</h6>
                                </a>
                                </div>
                            <div class="short_overview my-5">
                                <p>content content</p>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-12 col-lg-7">
                        <div class="single_product_desc">
                            <!-- Product Meta Data -->
                            <div class="product-meta-data">
                                <div class="line"></div>
                                <p class="product-price">Title</p>
                                <a href="product-details.html">
                                    <h6>Heading</h6>
                                </a>
                                </div>
                            <div class="short_overview my-5">
                                <p>content content</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-5">
                        <div class="single_product_thumb">
                            <div id="product_details_slider" class="carousel slide" data-ride="carousel">
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <a class="gallery_img" href="img/product-img/pro-big-1.jpg">
                                            <img class="d-block w-100" src="{{url_for('static', filename='img/product-img/pro-big-1.jpg')}}" alt="First slide">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
        
        <!-- Product Catagories Area End -->

{% endblock content %}
