{% extends "template.html" %}
{% block content %}

        <!-- Product Catagories Area Start -->

        <div class="products-catagories-area clearfix">
            <center><img width=100% src="{{ url_for('static', filename='img/bg-img/abc.png') }}" alt=""></center>


            <div class="single-product-area section-padding-100 clearfix">
            <div class="container-fluid">

                {% for post in posts %}
                {% if loop.index0%2  == 0%}
                <div class="row">
                    <div class="col-13 col-lg-5">
                        <div class="single_product_thumb">
                            <div id="product_details_slider" class="carousel slide" data-ride="carousel">
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <a class="gallery_img" href="img/product-img/pro-big-1.jpg">
                                    <img class="d-block w-100" src="{{url_for('static', filename=post.image_file)}}" alt="First slide">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-12 col-lg-7">
                        <div class="single_product_desc">
                            <!-- Product Meta Data -->
                            <div class="product-meta-data">
                                <div class="line"></div>
                                <p class="product-price">{{post.title}}</p>
                                <a href="product-details.html">
                                    <h6>{{post.heading}}</h6>
                                </a>
                                </div>
                            <div class="short_overview my-5">
                                <!-- <p>Punjab Infotech was incorporated in the year 1976 for the promotion and growth of IT and Electronics Industry in the state of Punjab. It undertakes its activities under the following broad areas:-</p> -->
                                {{post.content}}

                            </div>
                        </div>
                    </div>
                </div>

                {% else %}
                <div class="row">
                    <div class="col-12 col-lg-7">
                        <div class="single_product_desc">
                            <!-- Product Meta Data -->
                            <div class="product-meta-data">
                                <div class="line"></div>
                                <p class="product-price">{{ post.title }}</p>
                                <a href="product-details.html">
                                    <h6>{{ post.heading }}</h6>
                                </a>
                                </div>
                            <div class="short_overview my-5">
                                <p>{{ post.content }}
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-5">
                        <div class="single_product_thumb">
                            <div id="product_details_slider" class="carousel slide" data-ride="carousel">
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <a class="gallery_img" href="img/product-img/pro-big-1.jpg">
                                            <img class="d-block w-100" src="{{url_for('static', filename=post.image_file)}}" alt="First slide">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
        </div>
    </div>

        <!-- Product Catagories Area End -->

{% endblock content %}
