{% extends "events/events_template.html" %}
{% block events %}

        <div class="amado_product_area section-padding-100">
            <div class="container-fluid">
                <div class="row">

                    <!-- Single Product Area -->
                    <div class="col-12 col-sm-6 col-md-12 col-xl-12">
                        <div class="single-product-wrapper">

                            <!-- Product Image -->
                            <div class="product-img hackathon">
                                <!-- <img  src="{{ url_for('static', filename='img/core-img/hackathon2.png') }}"  width=500px height=500px> -->
                                <!-- Hover Thumb -->
                                <img class="hover-img" alt="">
                            </div>

                            <!-- Product Description -->
                            <div class="product-description d-flex align-items-center justify-content-between">
                                <!-- Product Meta Data -->
                                <div class="product-meta-data">
                                    <div class="line"></div>

                                    <p class="product-price"> Jugnoo-$221.64</p>
                                    <a href="{{url_for('dash_rank_1')}}">
                                        <h6>RANK-1</h6>
                                    </a>

                                </div>
                                <!-- Ratings & Cart -->
                                <div class="ratings-cart text-right">
                                    <div class="ratings btn download">

                                    </div>
                                    <div class="cart">
                                        <a href="cart.html" data-toggle="tooltip" data-placement="left" title="Add to Cart"><img src="img/core-img/cart.png" alt=""></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-sm-6 col-md-12 col-xl-12">
                        <div class="single-product-wrapper">

                            <!-- Product Image -->
                            <div class="product-img hackathon">
                                <!-- <img  src="{{ url_for('static', filename='img/core-img/hackathon2.png') }}"  width=500px height=500px> -->
                                <!-- Hover Thumb -->
                                <img class="hover-img" alt="">
                            </div>

                            <!-- Product Description -->
                            <div class="product-description d-flex align-items-center justify-content-between">
                                <!-- Product Meta Data -->
                                <div class="product-meta-data">
                                    <div class="line"></div>

                                    <p class="product-price">  TickTalkTo-$64.77</p>
                                    <a href="{{url_for('dash_rank_2')}}">
                                        <h6>RANK-2</h6>
                                    </a>

                                </div>
                                <!-- Ratings & Cart -->
                                <div class="ratings-cart text-right">
                                    <div class="ratings btn download">

                                    </div>
                                    <div class="cart">
                                        <a href="cart.html" data-toggle="tooltip" data-placement="left" title="Add to Cart"><img src="img/core-img/cart.png" alt=""></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-sm-6 col-md-12 col-xl-12">
                        <div class="single-product-wrapper">

                            <!-- Product Image -->
                            <div class="product-img hackathon">
                                <!-- <img  src="{{ url_for('static', filename='img/core-img/hackathon2.png') }}"  width=500px height=500px> -->
                                <!-- Hover Thumb -->
                                <img class="hover-img" alt="">
                            </div>

                            <!-- Product Description -->
                            <div class="product-description d-flex align-items-center justify-content-between">
                                <!-- Product Meta Data -->
                                <div class="product-meta-data">
                                    <div class="line"></div>

                                    <p class="product-price">Frisklancer-$2.65</p>
                                    <a href="{{url_for('dash_rank_3')}}">
                                        <h6>RANK-3</h6>
</h6>
                                    </a>

                                </div>
                                <!-- Ratings & Cart -->
                                <div class="ratings-cart text-right">
                                    <div class="ratings btn download">

                                    </div>
                                    <div class="cart">
                                        <a href="cart.html" data-toggle="tooltip" data-placement="left" title="Add to Cart"><img src="img/core-img/cart.png" alt=""></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-sm-6 col-md-12 col-xl-12">
                        <div class="single-product-wrapper">

                            <!-- Product Image -->
                            <div class="product-img hackathon">
                                <!-- <img  src="{{ url_for('static', filename='img/core-img/hackathon2.png') }}"  width=500px height=500px> -->
                                <!-- Hover Thumb -->
                                <img class="hover-img" alt="">
                            </div>

                            <!-- Product Description -->
                            <div class="product-description d-flex align-items-center justify-content-between">
                                <!-- Product Meta Data -->
                                <div class="product-meta-data">
                                    <div class="line"></div>

                                    <p class="product-price"> wendor-$1.52</p>
                                    <a href="{{url_for('dash_rank_4')}}">
                                        <h6>RANK-4</h6>
                                    </a>

                                </div>
                                <!-- Ratings & Cart -->
                                <div class="ratings-cart text-right">
                                    <div class="ratings btn download">

                                    </div>
                                    <div class="cart">
                                        <a href="cart.html" data-toggle="tooltip" data-placement="left" title="Add to Cart"><img src="img/core-img/cart.png" alt=""></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-sm-6 col-md-12 col-xl-12">
                        <div class="single-product-wrapper">

                            <!-- Product Image -->
                            <div class="product-img hackathon">
                                <!-- <img  src="{{ url_for('static', filename='img/core-img/hackathon2.png') }}"  width=500px height=500px> -->
                                <!-- Hover Thumb -->
                                <img class="hover-img" alt="">
                            </div>

                            <!-- Product Description -->
                            <div class="product-description d-flex align-items-center justify-content-between">
                                <!-- Product Meta Data -->
                                <div class="product-meta-data">
                                    <div class="line"></div>

                                    <p class="product-price"> Flambird-$0.09</p>
                                    <a href="product-details.html">
                                        <h6>RANK-5</h6>
                                    </a>

                                </div>
                                <!-- Ratings & Cart -->
                                <div class="ratings-cart text-right">
                                    <div class="ratings btn download">

                                    </div>
                                    <div class="cart">
                                        <a href="cart.html" data-toggle="tooltip" data-placement="left" title="Add to Cart"><img src="img/core-img/cart.png" alt=""></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Single Product Area -->
                    <div class="col-12 col-sm-6 col-md-12 col-xl-12">
                        <div class="single-product-wrapper">
                            <!-- Product Image -->
                            <div class="product-img">
                                <!-- <img src="{{ url_for('static', filename='img/core-img/hackathon4.png') }}" alt=""> -->
                                <!-- Hover Thumb -->
                                <img class="hover-img" src="img/product-img/product3.jpg" alt="">
                            </div>

                            <!-- Product Description -->
                            <div class="product-description d-flex align-items-center justify-content-between">
                                <!-- Product Meta Data -->
                                <div class="product-meta-data">
                                    <div class="line"></div>
                                    <p class="product-price"> TrainerGenie-$0.01</p>
                                    <a href="product-details.html">
                                        <h6>RANK-6</h6>
                                    </a>
                                </div>
                                <!-- Ratings & Cart -->
                                <div class="ratings-cart text-right">
                                    <div class="ratings">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </div>
                                    <div class="cart">
                                        <a href="cart.html" data-toggle="tooltip" data-placement="left" title="Add to Cart"><img src="img/core-img/cart.png" alt=""></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Single Product Area -->
                    <!--  -->

                    <!-- Single Product Area -->


                    <!-- Single Product Area -->


                    <!-- Single Product Area -->
                    <div class="col-12 col-sm-6 col-md-12 col-xl-12">
                        <div class="single-product-wrapper">
                            <!-- Product Image -->
                            <div class="product-img">
                                <img src="img/product-img/product6.jpg" alt="">
                                <!-- Hover Thumb -->
                                <img class="hover-img" src="img/product-img/product1.jpg" alt="">
                            </div>

                            <!-- Product Description -->
                            <div class="product-description d-flex align-items-center justify-content-between">
                                <!-- Product Meta Data -->
                                <div class="product-meta-data">
                                    <!-- <div class="line"></div> -->
                                    <p class="product-price"></p>
                                    <a href="product-details.html">
                                        <h6></h6>
                                    </a>
                                </div>
                                <!-- Ratings & Cart -->
                                <div class="ratings-cart text-right">
                                    <!-- <div class="ratings">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </div> -->
                                    <div class="cart">
                                        <a href="cart.html" data-toggle="tooltip" data-placement="left" title="Add to Cart"><img src="img/core-img/cart.png" alt=""></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

        {% endblock events %}
