{% extends "template.html" %}
{% block content %}
<div class="shop_sidebar_area">

    <!-- ##### Single Widget ##### -->
    <div class="widget catagory mb-50">

        <a href="{{ url_for('about') }}"><h6 class="widget-title mb-30" {% if url_for(request.endpoint) == "/about" %} style="color:blue;" {%endif%}>Hackathons</h6></a>
        <!-- <a href="{{ url_for('about_cm') }}"><h6 class="widget-title mb-30" {% if url_for(request.endpoint) == "/about/cm" %} style="color:blue;" {%endif%}>Investors</h6></a>
        <a href="{{ url_for('about_cm') }}"><h6 class="widget-title mb-30" {% if url_for(request.endpoint) == "/about/cm" %} style="color:blue;" {%endif%}>Mentors</h6></a>
        <a href="{{ url_for('about_cm') }}"><h6 class="widget-title mb-30" {% if url_for(request.endpoint) == "/about/cm" %} style="color:blue;" {%endif%}>Incubation Centres</h6></a> -->

    </div>
</div>

{% block events %}{% endblock %}


{% endblock content %}
