{% extends "dash/dash_template.html" %}
{% block dash %}
<div class="amado_product_area section-padding-100">
            <div class="container-fluid">

                <div class="row">
                    <div class="col-12">
                        <div class="product-topbar d-xl-flex align-items-end justify-content-between">
                        </div>
                    </div>
                </div>
                </<div class="row">
                    <center>
                    <p class="count">{{ item.total_teets }}</p>
                    <p class="tweets">TOTAL TWEETS</p>
                    <h2> Value - ${{ item.retweets }}</h2>
                    <h3> TEXT TWEETS - {{ item.text_tweets }}</h3>
                    <h3> REPLIES - {{ item.replies }}</h3>
                    <h3> LINKS/PICS - {{ item.links }}</h3>

                    </center>
                </div>
                <div class="row">
                    <!-- Single Product Area -->

                    <div class="col-12 col-sm-2 col-md-12 col-xl-2">
                        <div class="single-product-wrapper">
                            <!-- Product Image -->
                            <div class="product-img">
                                <img src="{{url_for('static', filename='img/twit/1.svg')}}" alt="">
                            </div>
                            <!-- Product Description -->
                            <div class="product-description d-flex align-items-center justify-content-between">
                                <!-- Product Meta Data -->
                                <div class="product-meta-data">
                                    <div class="line"></div>
                                    <p class="product-price">{{ item.a }}</p>
                                        <h6>Potential impacts</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-2 col-md-12 col-xl-2">
                        <div class="single-product-wrapper">
                            <!-- Product Image -->
                            <div class="product-img">
                                <img src="{{url_for('static', filename='img/twit/2.svg')}}" alt="">
                            </div>
                            <!-- Product Description -->
                            <div class="product-description d-flex align-items-center justify-content-between">
                                <!-- Product Meta Data -->
                                <div class="product-meta-data">
                                    <div class="line"></div>
                                    <p class="product-price">{{ item.b }}</p>
                                        <h6>Potential reach</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-2 col-md-12 col-xl-2">
                        <div class="single-product-wrapper">
                            <!-- Product Image -->
                            <div class="product-img">
                                <img src="{{url_for('static', filename='img/twit/3.svg')}}" alt="">
                            </div>
                            <!-- Product Description -->
                            <div class="product-description d-flex align-items-center justify-content-between">
                                <!-- Product Meta Data -->
                                <div class="product-meta-data">
                                    <div class="line"></div>
                                    <p class="product-price">{{ item.c }}</p>
                                        <h6>Contributors</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-2 col-md-12 col-xl-2">
                        <div class="single-product-wrapper">
                            <!-- Product Image -->
                            <div class="product-img">
                                <img src="{{url_for('static', filename='img/twit/4.svg')}}" alt="">
                            </div>
                            <!-- Product Description -->
                            <div class="product-description d-flex align-items-center justify-content-between">
                                <!-- Product Meta Data -->
                                <div class="product-meta-data">
                                    <div class="line"></div>
                                    <p class="product-price">{{ item.d }}</p>
                                        <h6>Tweets/contributor</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-2 col-md-12 col-xl-2">
                        <div class="single-product-wrapper">
                            <!-- Product Image -->
                            <div class="product-img">
                                <img src="{{url_for('static', filename='img/twit/5.svg')}}" alt="">
                            </div>
                            <!-- Product Description -->
                            <div class="product-description d-flex align-items-center justify-content-between">
                                <!-- Product Meta Data -->
                                <div class="product-meta-data">
                                    <div class="line"></div>
                                    <p class="product-price">{{ item.e }}</p>
                                        <h6>Followers/contributor</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-2 col-md-12 col-xl-2">
                        <div class="single-product-wrapper">
                            <!-- Product Image -->
                            <div class="product-img">
                                <img src="{{url_for('static', filename='img/twit/6.svg')}}" alt="">
                            </div>
                            <!-- Product Description -->
                            <div class="product-description d-flex align-items-center justify-content-between">
                                <!-- Product Meta Data -->
                                <div class="product-meta-data">
                                    <div class="line"></div>
                                    <p class="product-price">{{ item.f }}</p>
                                        <h6>Original tweets</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-2 col-md-12 col-xl-2">
                        <div class="single-product-wrapper">
                            <!-- Product Image -->
                            <div class="product-img">
                                <img src="{{url_for('static', filename='img/twit/7.svg')}}" alt="">
                            </div>
                            <!-- Product Description -->
                            <div class="product-description d-flex align-items-center justify-content-between">
                                <!-- Product Meta Data -->
                                <div class="product-meta-data">
                                    <div class="line"></div>
                                    <p class="product-price">{{ item.g }}</p>
                                        <h6>Original contributors</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-2 col-md-12 col-xl-2">
                        <div class="single-product-wrapper">
                            <!-- Product Image -->
                            <div class="product-img">
                                <img src="{{url_for('static', filename='img/twit/8.svg')}}" alt="">
                            </div>
                            <!-- Product Description -->
                            <div class="product-description d-flex align-items-center justify-content-between">
                                <!-- Product Meta Data -->
                                <div class="product-meta-data">
                                    <div class="line"></div>
                                    <p class="product-price">{{ item.h }}</p>
                                        <h6>Original tweets/contributors</h6>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>

</div>
{% endblock dash %}
