{% extends "about/about_template.html" %}
{% block about %}
        <div class="amado_product_area section-padding-100">
            <div class="container-fluid">

                <div class="row">
                    <div class="col-12">
                        <div class="product-topbar d-xl-flex align-items-end justify-content-between">
                            <!-- Total Products -->
                            <div class="total-products">
                                <!-- <p class="cm-i">Message from Chief Minister, Punjab</p> -->
                                <!-- <div class="view d-flex">
                                    <a href="#"><i class="fa fa-th-large" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-bars" aria-hidden="true"></i></a>
                                </div> -->
                            </div>
                            <!-- Sorting -->
                            <div class="product-sorting d-flex">
                                <div class="sort-by-date d-flex align-items-center mr-15">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



<div class="cm">
<img class="amrinder" src="{{url_for('static', filename='img/core-img/amrinder.jpg')}}">
<p class="acon">

  The people of Punjab have, in the recent elections shown a way forward through the ballot by opting for New Punjab. They have elected a Government which is committed to provide the most progressive policies and regulatory framework, ensuring that Punjab is truly a best place to do business.

  The new Government of Punjab envisages to provide State-of-the–art industrial infrastructure and skilled manpower as well as multiple resources so that the investment opportunities are realized quickly across the sectors. The business friendly environment in the State now will provide a ready platform to the existing and new industrial investors to jumpstart their endeavors.

  A glorious future beckons those of you who avail the opportunities of investing in Punjab. Its strategic location, abundant resources and an efficient and progressive government will facilitate successful start of ventures.
</p>
</div>
                <div class="row">
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% endblock about %}
