{% extends "template.html" %}
{% block content %}

        <div class="cart-table-area section-padding-100">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 col-lg-8">
                        <div class="checkout_details_area mt-50 clearfix">

                            <div class="cart-title">
                                <h2>Incubator </h2>
                            </div>

                            <form action="{{ url_for('form_incubator') }}" method="post">
                                <div class="row">
                                  <div class="col-md-12 mb-3">
                                      <input type="text" class="form-control" id="name"  placeholder="Name" name="name">
                                  </div>
                                    <div class="col-md-12 mb-3">
                                        <input type="text" class="form-control" id="location"  placeholder="Location" name="location">
                                    </div>
                                    <div class="col-md-12 mb-3">
                                        <input type="text" class="form-control" id="seats"  placeholder="No of Seats" name="seats">
                                    </div>
                                    <div class="col-12 mb-3">
                                        <input type="text" class="form-control" id="startup_incubated" placeholder="Startup Incubated" name="startup_incubated">
                                    </div>
                                    <div class="col-12 mb-3">
                                        <input type="text" class="form-control" id="funding" placeholder="Fundings" name="funding">
                                    </div>




                                </div>
                              </div>
                              <input type="submit" class="btn amado-btn w-100"></input>

                             </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- ##### Main Content Wrapper End ##### -->

{% endblock content %}
