{% extends "template.html" %}
{% block content %}

        <div class="cart-table-area section-padding-100">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 col-lg-8">
                        <div class="checkout_details_area mt-50 clearfix">

                            <div class="cart-title">
                                <h2>Investor</h2>
                            </div>

                            <form action="{{ url_for('form_investor') }}" method="post">
                                <div class="row">
                                    <div class="col-md-12 mb-3">
                                        <input type="text" class="form-control" id="name" placeholder="Name" name="name">
                                    </div>
                                    <div class="col-md-12 mb-3">
                                        <input type="text" class="form-control" id="city" placeholder="city" name="city">
                                    </div>
                                    <div class="col-12 mb-3">
                                        <input type="text" class="form-control" id="investment" placeholder="Investment" name="investment">
                                    </div>
                                    <div class="col-12 mb-3">
                                        <input type="email" class="form-control" id="desc" placeholder="Technology of intrest" name="desc">
                                    </div>
                                  </div>
                                  <input type="submit" class="btn amado-btn w-100"></input>
                            </form>
                        </div>
                    </div>
                  </div>

                 </div>

                    </div>




    <!-- ##### Main Content Wrapper End ##### -->

{% endblock content %}
