{% extends "explore/explore_template.html" %}
{% block explore %}
        <div class="amado_product_area section-padding-100">
            <div class="container-fluid">
                <h1 style="color:gold;"><b> Investors </b></h1>
                <hr style="height:30px">
                <div class="row">
                    {% for investor in investors %}

                    <!-- Single Product Area -->
                    <div class="col-12 col-sm-4 col-md-12 col-xl-4">
                        <div class="single-product-wrapper">
                            <!-- Product Image -->
                            <div class="product-img">
                                <img src={% if investor.image_file %} "{{url_for('static', filename=investor.image_file)}}" {% else %} "{{url_for('static', filename='img/core-img/logo.png')}}"  {% endif %} alt="">
                                <!-- Hover Thumb -->
                                <img class="hover-img" src="img/product-img/product2.jpg" alt="">
                            </div>

                            <!-- Product Description -->
                            <div class="product-description d-flex align-items-center justify-content-between">
                                <!-- Product Meta Data -->
                                <div class="product-meta-data">
                                    <div class="line"></div>
                                    <p class="product-price">{{ investor.name }}</p>
                                        <h6>{{ investor.desc[:50] }}</h6>
                                        <p></p>
                                        <h6><b>  Contact Info.  </b></h6>
                                        <h6>Investments - {{ investor.investment }}</h6>
                                        <h6>City - {{ investor.city }}</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>

        {% endblock explore %}
